.noReservation{
    border: 2px solid rgb(205, 205, 205);
    border-radius: 10px;
    margin: auto ;
    margin-top: 15%;
    padding: 1.3%;
    text-align: center;
}
.afterReservation{
    background-color: white;
    /* border: 1px solid rgb(255, 250, 245); */
    border-radius: 7px;
    margin: auto;
    padding: 1.6%;
    text-align: left;
    justify-content: left;
    margin-top: 3%;
    margin-bottom: 15px;
}
.afterReservation label{
    color: rgb(80, 80, 80);
    margin-bottom: 2px;
}
.textareaR{
    border-radius: 15px;
    margin-top: 2%;
    padding: 2%;
}
.infoVeri{

}
.float-right{
    float: right;
    /* right: 50px; */
}